main{
    display:flex;
}
img{
    width:6%;
}
h1{ 
    font-size:35px;
    font-weight: bolder;
    border-radius: 10px;
    height: 45px;
    width: 11.5%;
    color: crimson;
    /*-webkit-box-shadow: 6px 5px 24px #bfb00c;
    -moz-box-shadow: 6px 5px 24px #bfb00c;
    box-shadow: 6px 5px 24px #bfb00c;*/
}

body{
    height: 800px;
    background: url(imagen/encriptado.jpg);
    background-size: auto;
    background-size: 30rem;
    background-repeat:repeat;
  
}

* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}


main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
} 

.input-texto {
    margin-top: 90px;
    border-radius: 15px;
}

.mensaje {
    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("imagen/criptografia-metodos-cifrado-hashing-empresas-pci-seguridad.jpg");
    background-repeat: repeat;
    background-position: 18px;
    background-size: 313px;
    border-radius: 20px;
    -webkit-box-shadow: 6px 5px 24px black;
    -moz-box-shadow: 6px 5px 24px black;
    box-shadow: 6px 5px 24px black;

}

.copiar {
    color: white;
    text-shadow: 2px 1px  #070b1b;
    -webkit-box-shadow: 6px 5px 24px ;
    -moz-box-shadow: 6px 5px 24px ;
    box-shadow: 6px 5px 24px gray;
    border-radius: 7.5px;
    position: relative;
    margin-top: 20px;
    margin-left: 205px;
    border-radius:10px;
    background-color: #070b1b;
}

.encriptar{
    color: red;
    text-shadow: 2px 1px  #070b1b;
    -webkit-box-shadow: 6px 5px 24px ;
    -moz-box-shadow: 6px 5px 24px ;
    box-shadow: 6px 5px 24px crimson;
    border-radius: 7.5px;
    background-color: black;

}

.desencriptar{
    color:rgb(255, 255, 255);
    text-shadow: 2px 1px 1px #070b1b;
    -webkit-box-shadow: 6px 5px 24px ;
    -moz-box-shadow: 6px 5px 24px ;
    box-shadow: 6px 5px 24px gray;
    border-radius: 7.5px;
    background-color: black;
}

.botones:hover {
   
    margin-top: 20px;
    border-radius:15px;
}

.encriptar:hover {
    background-color: rgb(105, 105, 105);
    border-radius: 20px;

}

.desencriptar:hover {
    background-color:rgb(105, 105, 105);
    border-radius: 20px;
}

.copiar:hover{
    background-color: #696969;
}

.encriptar:active{
    background-color: #8b0000;
}

.desencriptar:active{
    background-color: rgb(139, 0, 0);
}

.copiar:active{
    background-color: #8b0000;
}

.informacion {
  
    font-size:30px;
    
}